services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    env_file:
      - ./env/common.env
      - ./env/jellyfin.env
    volumes:
      - /mnt/dell_hdd/media:/media
      - ./data/jellyfin/config:/config
      - ./data/jellyfin/cache:/cache
    ports:
      - "8096:8096"
    restart: unless-stopped

  transmission:
    image: lscr.io/linuxserver/transmission:latest
    container_name: transmission
    env_file:
      - ./env/common.env
      - ./env/transmission.env
    volumes:
      - ./data/transmission/config:/config
      - /mnt/dell_hdd/media/downloads:/downloads
      - /mnt/dell_hdd/media:/media
    ports:
      - "9091:9091"
      - "51413:51413"
      - "51413:51413/udp"
    restart: unless-stopped

  samba:
    image: dperson/samba
    container_name: samba
    env_file:
      - ./env/common.env
      - ./.env
    volumes:
      - /mnt/dell_hdd:/mount
      - ./data/samba:/config
    ports:
      - "137:137/udp"
      - "138:138/udp"
      - "139:139/tcp"
      - "445:445/tcp"
    restart: unless-stopped
    command: >
      -u "${SAMBA_USER};${SAMBA_PASS}"
      -s "dell_hdd;/mount;yes;no;no;all;none"

  
  stirling-pdf:
    image: docker.stirlingpdf.com/stirlingtools/stirling-pdf:latest
    ports:
      - '8080:8080'
    volumes:
      - ./data/StirlingPDF/trainingData:/usr/share/tessdata # Required for extra OCR languages
      - ./data/StirlingPDF/extraConfigs:/configs
      - ./data/StirlingPDF/customFiles:/customFiles/
      - /home/akash/logs/StirlingPDF/logs:/logs/
      - ./data/StirlingPDF/pipeline:/pipeline/
    environment:
      - DISABLE_ADDITIONAL_FEATURES=false
      - LANGS=en_GB


  dns-server:
    container_name: dns-server
    image: technitium/dns-server:latest
    network_mode: "host"
    environment:
      - DNS_SERVER_DOMAIN=dns-server
      - DNS_SERVER_WEB_SERVICE_LOCAL_ADDRESSES=0.0.0.0
    volumes:
      - config:/etc/dns
    restart: unless-stopped      
volumes:
  model-cache:
  config:

